@import "../../../../styles.scss";

.map-container {
  width: $width;
  height: $heigth;
}

.row {
  background-color: white;
  border-radius: 10px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  padding: 10px;
  z-index: 999;
  width: 400px;
}